[package]
name = "tonic2axum"
version = "0.1.0"
authors = ["Scott Meeuwsen <smeeuwsen@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "A code generator that builds a REST reverse proxy (Axum) to gRPC services (Tonic)"
repository = "https://github.com/nu11ptr/tonic2axum"
documentation = "https://docs.rs/tonic2axum"
keywords = ["codegen", "grpc", "rest", "openapi"]
categories = [
    "web-programming::http-server",
    "asynchronous",
    "network-programming",
]
readme = "README.md"
edition = "2024"

[dependencies.axum]
version = "0.8"
default-features = false
features = ["json"]

[dependencies.http]
version = "1"
default-features = false

[dependencies.serde]
version = "1"
default-features = false

[dependencies.tonic]
version = "0.14"
default-features = false
