[package]
name = "tonic2axum"
version = "0.1.0"
edition = "2024"

[dependencies.axum]
version = "0.8"
default-features = false
features = ["json"]

[dependencies.http]
version = "1"
default-features = false

[dependencies.serde]
version = "1"
default-features = false

[dependencies.tonic]
version = "0.14"
default-features = false
